In [6]:
import pandas as pd

In [7]:
data=pd.read_csv("/home/victor/Documents/CasesStudy_ChurnRate/sujet_B_data_client_churn.csv")

In [8]:
data.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [10]:
data.shape

(7043, 22)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7043 non-null   int64
 1   customerID        7043 non-null   object
 2   gender            7043 non-null   object
 3   SeniorCitizen     7043 non-null   int64
 4   Partner           7043 non-null   object
 5   Dependents        7043 non-null   object
 6   tenure            7043 non-null   int64
 7   PhoneService      7043 non-null   object
 8   MultipleLines     7043 non-null   object
 9   InternetService   7043 non-null   object
 10  OnlineSecurity    7043 non-null   object
 11  OnlineBackup      1409 non-null   object
 12  DeviceProtection  7043 non-null   object
 13  TechSupport       5517 non-null   object
 14  StreamingTV       5517 non-null   object
 15  StreamingMovies   5517 non-null   object
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  MonthlyCharges    7043 non-null   float64
 20  TotalCharges      4930 non-null   object
 21  Churn             7043 non-null   object
dtypes: float64(1), int64(3), object(18)
memory usage: 1.2+ MB

In [12]:
data=data.dropna()

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 770 entries, 2 to 7038
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        770 non-null    int64
 1   customerID        770 non-null    object
 2   gender            770 non-null    object
 3   SeniorCitizen     770 non-null    int64
 4   Partner           770 non-null    object
 5   Dependents        770 non-null    object
 6   tenure            770 non-null    int64
 7   PhoneService      770 non-null    object
 8   MultipleLines     770 non-null    object
 9   InternetService   770 non-null    object
 10  OnlineSecurity    770 non-null    object
 11  OnlineBackup      770 non-null    object
 12  DeviceProtection  770 non-null    object
 13  TechSupport       770 non-null    object
 14  StreamingTV       770 non-null    object
 15  StreamingMovies   770 non-null    object
 16  Contract          770 non-null    object
 17  PaperlessBilling  770 non-null    object
 18  PaymentMethod     770 non-null    object
 19  MonthlyCharges    770 non-null    float64
 20  TotalCharges      770 non-null    object
 21  Churn             770 non-null    object
dtypes: float64(1), int64(3), object(18)
memory usage: 138.4+ KB